body{
    font-family: arial, verdana;
    text-align: center;
    color: black;
    background: linear-gradient(to right, gray , purple);
}

/*class to style headers, and figcaption tags (players names)*/
.fonts {
   text-shadow: 2px 2px 8px white;
}

/*give all player images this class*/
.images{
    border-radius: 25px;
    border: 2px solid white;
}

.scores {
    
}
