body{
    font-family: arial, verdana;
    text-align: center;
    color: black;
    background: linear-gradient(to right, gray , purple);
}

/*class to style figcaption tags (players names)*/
.fonts {
   text-shadow: 2px 2px 8px white;
}

/*class to style the headers*/
.headers {
    text-shadow: 2px 2px 8px white;
    text-align: center;
}

/*give all player images this class*/
.images{
    border-radius: 25px;
    border: 2px solid white;
}

/*class for the heart image decoration*/
#heart {
    height:100px;
}