h1{
   background-color: #d1d1e0; 
   color: black;
   text-shadow: 2px 2px 8px purple;
   font-family: monospace;
}

/*give all player images this class*/
.images{
    height:250px;
    width:250px;
}
/*player names class here */
.names{
    color:black;
    font-family: monospace;
}